.CardWrapper {
    border-radius: 26px;
    background: linear-gradient(
                    318deg,
                    rgba(7, 38, 54, 0.4) 0%,
                    rgba(6, 46, 82, 0.4) 100%
    );
    box-shadow: 1px 1px 2px 0 rgba(43, 73, 102, 1) inset,
        -2px -2px 4px 0 rgba(61, 86, 95, 0.25) inset,
        900px -200px 500px -20px rgba(123, 68, 0, 0.20),
        -1000px 400px 700px 0px rgba(33, 209, 220, 0.15);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    line-height: 1.5;
    width: 100%;
}

.isNotStretch {
    align-self: start;
}
.invert {
    background: linear-gradient(
                    135deg,
                    rgba(9, 21, 26, 0.3) 0%,
                    rgba(7, 46, 63, 0.3) 100%
    );
}

.center {
    align-items: center;
}

.left {
    align-items: flex-start;
}

@media screen and (min-width: 360px){
    .CardWrapper {
        padding: 3rem;
    }
}

@media screen and (min-width: 576px){

}

@media screen and (min-width: 768px){

}
@media screen and (min-width: 960px) {

}
