.GybernetSection {

}

.info {
    line-height: 2;
    font-size: 1rem;
    h3 {
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 2rem;
    }
    ul {
        padding-left: 1rem;
    }
}
.image {
    position: relative;
    width: 100%;
    height: 350px;
    border-radius: 20px;
    box-shadow: 100px -100px 200px rgba(18, 142, 255, 0.1),
            -100px 100px 200px rgba(18, 142, 255, 0.2);
}

@media screen and (min-width: 370px){
}

@media screen and (min-width: 576px){

}

@media screen and (min-width: 768px){

}
@media screen and (min-width: 960px) {

}